<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="VTYSPROJE.Properties.Settings.VTYSPROJEConnectionString"
            connectionString="Data Source=MONSTER\SQLEXPRESS02;Initial Catalog=VTYSPROJE;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="VTYSPROJE.Properties.Settings.UrunKiralamaSistemiVTYSConnectionString"
            connectionString="Data Source=MONSTER\SQLEXPRESS02;Initial Catalog=UrunKiralamaSistemiVTYS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>